<footer class="footer">
  <p>Caught a mistake or want to contribute to the documentation? &nbsp; <a href="<%- website_github_file_url(item.path) %>" target="_blank">Fork this page on GitHub</a></p>
</footer>
