<footer class="footer footnote">
  <p>
    The A-Frame project and content on this site are licensed under the <a href="https://github.com/aframevr/aframe/blob/master/LICENSE" rel="external">MIT License</a>.
  </p>
  <p>Found a typo or suggestion for the docs? <br><br> <a href="<%- website_github_edit_url(item.path) %>" class="github-file-link" target="_blank" rel="external">Suggest an edit on GitHub</a></p>
  <p>Project maintained by <a href="https://supermedium.com">Supermedium</a>.</p>
</footer>
