<footer class="footer footnote">
  <p>Except where otherwise noted, content on this site is licensed under the <a href="https://creativecommons.org/licenses/by-sa/3.0/" rel="external">Creative Commons Attribution Share-Alike License v3.0</a> or any later version.</p>
  <p>Found a typo or suggestion for the docs? <br><br> <a href="<%- website_github_edit_url(item.path) %>" class="github-file-link" target="_blank" rel="external">Suggest an edit on GitHub</a></p>

  <span class="sponsor" itemscope itemprop="organization" itemtype="http://schema.org/Organization">
    <div class="message">Supported by</div>
    <span itemprop="sponsor" itemscope itemtype="http://schema.org/Organization">
      <a class="mozilla-logo" itemprop="url" href="https://www.mozilla.org/" rel="external">
        <span itemprop="name"></span>
      </a>
    </span>
  </span>
</footer>
