<footer class="footer footnote">
  <p>Caught a mistake or want to contribute to the documentation? <br><br> <a href="<%- website_github_file_url(item.path) %>" class="github-file-link" target="_blank" rel="external">Fork this page on GitHub</a></p>
</footer>
