<footer class="footer footnote">
  <p>Caught a mistake or want to contribute to the documentation? <br><br> <a href="<%- website_github_edit_url(item.path) %>" class="github-file-link" target="_blank" rel="external">Suggest an edit to this page on GitHub</a></p>
</footer>
