@import "_settings"
@import "_syntax"

*
    margin 0
    padding 0
    box-sizing border-box

html, body
    height 100%

html
    font-size $html-font-size

body
    font $body-font-weight $body-font-size/$body-line-height $body-font
    color $medium

iframe, img, button, input[type=button], .btn
    border 0

.borderless-links a,
a.borderless-links,
a.borderless-link
    border 0

/**
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.hidden-visually
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

strong
    font-weight 600

code,
pre
    font-family $code-font

pre
    font-size 1rem

[data-is-mobile="true"]
    pre
        font-size .8rem

.font-loaded-mono code,
.font-loaded-mono pre
    font-family $code-font

p, li, dd
    code
        background $codebg
        font-weight 600
        padding 0 2px
        margin 0 1px

h2 code
    font-weight 600
    padding 0 1px

h3 code
    background $codebg
    padding-left 2px
    padding-right 2px

/* This looks better on the "Community" page. */
[data-page-type="community"] li code
    font-weight 500

p
    word-spacing 0.05em

h1
    color $blue-dark

h2, h3, h4
    color $dark
    font-weight 500

h4
    font-weight 600

.btn
    cursor pointer
    font inherit

.copy__wrap
    max-width 100%
    +media--desktop()
        max-width 700px

.sidebar__wrap,
.copy__wrap
    padding 40px

[data-page-type="blog"] .copy__wrap
    padding-top: 20px;

.nav, .subnav
    list-style-type none

.copy
    a.btn
        font-size .9em
        color #fff
        margin .2em 0
        max-width 180px
        text-align center
        padding 12px 24px
        display inline-block
        vertical-align middle
    img
        max-width 100%
    span.light
        color $light
    span.info
        font-size .85em
        display inline-block
        vertical-align middle
        width 280px
        margin-left 20px
    h2
        margin 1.5em 0 .8em
        padding-bottom .7em
        border-bottom 1px solid $border
    h3
        font-size 1.5rem
    h3, h4
        margin 2em 0 0.25em
        position relative
    figure, p, ul, ol, table
        margin 15px 0
        &:last-child + .footer
            margin-bottom 0
    p, ul, ol, table
        line-height 1.6
    ul, ol
        padding-left 1.5em
    blockquote
        background #F8F8F8
        margin 2em 0
        padding 5px 5px 5px 20px
        border-left 4px solid $color-primary
        p
            font-weight 400
            margin-left 0
    iframe
        margin 1em 0
    p + h2,
    table + table
        margin-top 1.5em
    .tip
        background-color $codebg
        border-bottom-right-radius $radius
        border-left 4px solid $pink
        border-top-right-radius $radius
        margin 2em 0
        padding 1.5em 2em
        position relative
        &:before
            position absolute
            top 14px
            left -12px
            background-color $pink
            color #fff
            content "!"
            width 20px
            height 20px
            border-radius 100%
            text-align center
            line-height 20px
            font-weight bold
            font-size 14px
        &.tip--dark
            background-color rgba(0,0,0,0.5)
            border-left-color rgba(239,45,94,0.5)
            &:before
                background-color $pink
                border 2px solid #000
                color #fff
                left -14px
        &.tip--thin
            font-size 0.9rem
            padding 1rem 2rem
            &:before
                top 0.75rem
        p:first-child
            margin-top 0
        p:last-child
            margin-bottom 0
    ul
        list-style disc
        margin-left 1em
        padding-left 1em
        ul
            margin-bottom 0
            margin-top 0
    ol
        list-style decimal
        margin-left 1em
        padding-left 1em
    ol ol
        list-style circle

    li + li,
    ul ul li,
    ol ol li
        margin-top: .35rem

.logo__wordmark
    background url(../images/aframe-name-pink.svg) no-repeat
    display block
    height 31px
    margin-bottom 30px
    text-indent -9999px
    +media--desktop()
      height 33px

.float-left
    float left

.float-right
    float right

// Clearfix for floats
.c:after
    clear both
    content ""
    display table

@media screen and (max-width: 768px)
    .sidebar__wrap,
    .copy__wrap
        padding 20px

    .logo__wordmark
        margin-bottom 20px

.github-emoji
  vertical-align top

#subscribeForm {
  color: #FAFAFA;
  font-family: monospace;
  margin: 0;
  min-width: 400px;
  padding: 5px 10px 0 0;

  input[type="email"] {
    background: #FAFAFA;
    border: 1px solid #666;
    border-radius: 5px;
    color: $gray;
    height: 40px;
    padding-left: 20px;
    margin-right: 10px;
    max-width: 480px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 50%;
  }

  button {
    border: 0;
    background: #FF74b8;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    color: #FAFAFA;
    text-transform: uppercase;
    transition: .1s all;
    padding: 11px 20px;
    vertical-align: middle;
  }

  button[disabled] {
    background: #888;
    pointer-events: none;
  }

  button:hover {
    background: #FF94C8;
  }
}
