// Font faces
$body-font = NationalWeb, Helvetica Neue, Arial, sans-serif
$logo-font = Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif
$code-font = Roboto Mono, Monaco, Courier, monospace

// Font sizes
$body-font-size = 15px
$code-font-size = .8em

// Colors
$dark   = #2c3e50
$medium = #34495e
$light  = #7f8c8d
$green  = #42b983
$green-dark = darken(#42b983, 25%)
$border = #ddd
$border-dark = #bbb
$codebg = #f8f8f8
$red = #f66
$white = #fff
$pink = rgb(239,45,94)

// Miscellaneous
$radius = 2px
