// Font faces
$body-font-default = Fira Sans, Helvetica, Arial, sans-serif
$code-font-default = Fira Mono, Andale Mono, Monaco, Courier, monospace

$body-font = Fira Sans, Helvetica, Arial, sans-serif
$code-font = Fira Mono, Andale Mono, Monaco, Courier, monospace

$logo-font = $body-font
$mono-font = $code-font

// Font sizes
$body-font-size = 1.1rem
$body-font-weight = 400
$body-line-height = 1.6
$code-font-size = .9rem
$table-heading-font-size = .9rem
$table-body-font-size = .9rem

// Colors
$dark   = #2c3e50
$fair = lighten(#2c3e50, 20%)
$medium = #333
$light  = #7f8c8d
$green  = #4b8
$green-dark = darken(#4b8, 30%)
$blue  = #48b
$blue-dark = darken(#48b, 30%)
$border = #ddd
$border-dark = #bbb
$codebg = #f8f8f8
$red = #f66
$white = #fff
$pink = rgb(239,45,94)

$copy-link = #1497B8  // hsl(192, 80%, 40%)
$copy-link-hover = #35c5e9  // hsl(192, 80%, 56%)

// Miscellaneous
$radius = 2px
