@import "_settings"

.mobile-header
  align-items center
  background $color-primary
  box-shadow 0 4px 2px -2px rgba(0, 0, 0, 0.2)
  display flex
  justify-content space-between
  opacity 0.9
  padding-left 15px
  position fixed
  top 0
  width 100%
  z-index 7
  +media--desktop()
    display none
  h1
    white-space nowrap
  h1 a
    border none
    cursor hover
  h1 a,
  #sidebar-toggle,
  span
    color $color-text-white
    flex 1
    font-weight 300
  #sidebar-toggle
    border-bottom none
    font-size 26px
    text-decoration none

.sidebar
  background-color #f9f9f9
  box-shadow 0 0 10px rgba(0,0,0,.2)
  box-sizing border-box
  height 100%
  left 0
  padding 40px
  position fixed
  top 0
  overflow-y scroll
  -webkit-overflow-scrolling touch
  transform translate(-280px, 0)
  -webkit-transform translate(-280px, 0)
  transition all .4s cubic-bezier(0.4, 0, 0, 1)
  visibility hidden  // Hide until scroll state is set.
  width 280px
  z-index 8
  &.sidebar-open
    -webkit-transform translate(0, 0)
    transform translate(0, 0)
  +media--desktop()
    background none
    box-shadow none
    height 80%
    position fixed
    padding-right 0
    padding-top 0
    -webkit-transform translate(0, 0)
    top 140px
    transform translate(0, 0)
    transition none
