#communityShowcase
  align-items flex-start
  justify-content flex-start
  list-style none
  display flex
  flex-wrap wrap
  margin 0
  padding 0

  li
    margin 0
    padding 10px 10px 10px 0
    width 50%
    img
      box-shadow 0px 0px 1px 1px #BBB
      margin-bottom 5px
      &:hover
        box-shadow 0px 0px 1px 1px #888
    a
      border-bottom 0

    .projectInfo
      display flex
      flex-direction column
      p
        margin-top 0

      .projectTitle
        margin-bottom 5px

      .projectName
        font-weight bold

      .projectAuthor
        font-size 12px
        margin-bottom 5px

      .projectDescription
        font-size 12px

#team
  list-style none
  margin 0
  padding 0 0 0 0

  li
    align-items center
    display flex
    margin-bottom 25px

  .teamInfoContainer
    display flex
    flex-direction column

  .teamAvatar
    border-radius 100px
    height 96px
    margin-right 20px
    width 96px

  .teamName
    color #555
    font-size 16px
    font-weight bold

  p
    margin-bottom 5px
    margin-top 0

    i
      width 18px

  .teamSocial a
    border-bottom 0
    margin-right 5px

  .fa-github
    color black
