#communityShowcase
  align-items flex-start
  justify-content flex-start
  list-style none
  display flex
  flex-wrap wrap
  margin 0
  padding 0

  li
    margin 0
    padding 10px 10px 10px 0
    width 50%
    img
      box-shadow 0px 0px 1px 1px #BBB
      margin-bottom 5px
      &:hover
        box-shadow 0px 0px 1px 1px #888
    a
      border-bottom 0

    .projectInfo
      display flex
      flex-direction column
      p
        margin-top 0

      .projectTitle
        margin-bottom 5px

      .projectName
        font-weight bold

      .projectAuthor
        font-size 12px
        margin-bottom 5px

      .projectDescription
        font-size 12px
