@import "_common"

// For Home / Examples pages

body
    color #fff

a
    border-bottom 1px solid rgba(255,255,255,0.15)
    color rgba(255,255,255,0.5)
    text-decoration none
    &:hover
        border-bottom-color rgba(255,255,255,0.3)
        color rgba(255,255,255,0.75)

ul
    list-style-type none

.nav
    border-bottom 1px dashed rgba(0,0,0,0.3)
    margin-bottom 20px
    padding 10px 0 40px

.nav-item
    font-family $code-font
    text-transform uppercase

.nav-item + .nav-item
    margin-top 3px

.subnav-item + .subnav-item


.nav-link
    &.current,
    &.active,
    &.current:hover,
    &.active:hover
        color $pink

.logo__wordmark
    background url(../images/aframe-name-white.svg) no-repeat
    background-size 100% auto
    display block
    text-indent:-9999px
    height 50px
    margin-top 10px

.sidebar
    background $pink
    -webkit-overflow-scrolling touch
    -ms-overflow-style none
    width 260px
    &::-webkit-scrollbar
        width: 0 !important
    .page-title
        font-size 15px
        color rgba(0,0,0,.6)
        font-weight 100
        font-family Fira Mono
        letter-spacing 0.02em

.example__iframe
    height 100vh
    width 100%

.main
    background $pink
    display flex
    height 100%

.sidebar, .content
    position relative

.sidebar
    max-width 400px
    overflow-x hidden

// TODO: Figure out how to hide this scrollbar later. I've done it before.
.sidebar__wrap
    height 100vh
    padding 40px
    position relative
    overflow-y auto

.content
    flex 1
    overflow-y auto

@media screen and (max-width: 800px)
    .main
        flex-direction column

.content
    display flex
    flex-direction column

.example__viewsource
    background rgba(0,0,0,0.35)
    color #fff
    display block
    font 12px/1.5 $mono-font
    padding 5px 10px
    position absolute
    text-transform uppercase
    top 20px
    right 20px
    z-index 2
    &:active,
    &:hover
        background-color #ef2d5e

.page__title
    font 600 36px/1.3 $body-font

.docs-section-title
    // padding-left 15px
    position relative
    &:before
        background url(../images/caret.svg) -3px 0 no-repeat
        background-size contain
        // content ""
        position absolute
        top 1px
        height 10px
        left 0
        width 10px

.section-active:before
    transform rotate(90deg)
    top 4px
    left -3px

.nav-link-get-started
    border 2px solid #fff
    color #fff
    display block
    font-size 16px
    font-weight 300
    padding 10px
    text-align center
    transition 0.05es ease-in
    &:hover
        background-color white
        color $pink

.subnav-link
    border-bottom 1px solid rgba(255,255,255,.15)
    margin-left -3px
    padding 4px 4px 4px 3px
    display block
    transition 0.05s color ease-in
    color rgba(255,255,255,1)
    width 100%
    &:hover
        background-color rgba(0,0,0,0.25)
    &:active
        color rgba(0,0,0,0.85)
    &.current,
    &.active,
    &.current:hover,
    &.active:hover
        color #fff

.section-title
    display none

h3 + .examples-subnav
    margin-top 15px

.content--index
    .copy__wrap
        max-width 550px
    .slogan
        color rgba(255,255,255,0.75)
        font-size 4.5rem
        font-weight 100
        line-height 0.9
        text-transform uppercase
    .intro
        color rgba(255,255,255,0.75)
        font-size 1.4rem
        font-weight 300
        line-height 1.5
        max-width 90%

.btn-index
    color rgba(255,255,255,1)
