@import "_common"

// For Home / Examples pages

a
    border-bottom 1px solid rgba(53,196,232,0.25)
    color hsl(192, 80%, 40%)
    text-decoration none
    &:hover
        border-bottom-color rgba(53,196,232,0.75)
        color hsl(192, 80%, 56%)
ul
    list-style-type none

.nav
    border-bottom 1px dashed rgba(0,0,0,0.1)
    margin-bottom 20px
    padding 10px 0 20px

.nav-item
    font-family $code-font
    text-transform uppercase

.nav-item + .nav-item
    margin-top 3px

.subnav-item + .subnav-item
    margin-top 5px

.subnav-link
    display block
    color rgba(0,0,0,0.35)
    text-indent: -10px
    padding-left 10px
    transition 0.1s color ease-in
    width 100%
    &:hover
        color rgba(0,0,0,0.75)
    &:active
        color rgba(0,0,0,0.85)
    &.current,
    &.active,
    &.current:hover,
    &.active:hover
        color #333
        font-weight 500

.nav-link
    &.current,
    &.active,
    &.current:hover,
    &.active:hover
        color $pink

.logo__wordmark
    color #fff
    display inline-block
    font-size 64px
    font-weight 200
    text-transform uppercase

.sidebar
    background $pink
    -webkit-overflow-scrolling touch
    -ms-overflow-style none
    &::-webkit-scrollbar
        width: 0 !important
    .page-title
        color rgba(0,0,0,.75)
        font-weight 300

.example__iframe
    height 100vh
    width 100%

.main
    background #f1f1f1
    display flex
    height 100%

.sidebar, .content
    position relative

.sidebar
    max-width 400px
    overflow-x hidden

// TODO: Figure out how to hide this scrollbar later. I've done it before.
.sidebar__wrap
    height 100vh
    padding 30px
    position relative
    overflow-y auto

.content
    flex 1
    overflow-y auto

@media screen and (max-width: 800px)
    .main
        flex-direction column

.content
    display flex
    flex-direction column

.example__viewsource
    background rgba(0,0,0,0.35)
    color #fff
    display block
    font 12px/1.5 $mono-font
    padding 5px 10px
    position absolute
    text-transform uppercase
    top 20px
    right 20px
    z-index 2
    &:active,
    &:hover
        background-color #ef2d5e

.page__title
    font 600 36px/1.3 $body-font

.docs-section-title
    // padding-left 15px
    position relative
    &:before
        background url(../images/caret.svg) -3px 0 no-repeat
        background-size contain
        // content ""
        position absolute
        top 1px
        height 10px
        left 0
        width 10px

.section-active:before
    transform rotate(90deg)
    top 4px
    left -3px

.nav-link-get-started
    border 2px solid #fff
    color #fff
    display block
    font-size 16px
    font-weight 600
    padding 10px
    text-align center
    transition 0.1s ease-in
    &:hover
        border-color #000
        color #000

.subnav-link
    color rgba(0,0,0,0.35)
    &:hover
        color rgba(0,0,0,0.75)
    &:active
        color rgba(0,0,0,0.85)
    &.current,
    &.active,
    &.current:hover,
    &.active:hover
        color #fff

.section-title
    display none

h3 + .examples-subnav
    margin-top 15px


.content--index
    .slogan
        font-size 4rem
        font-weight 300
        line-height 1.2
    .intro
        font-size 22px
        font-weight 300
        line-height 1.2
