@import "_common"
@import "_fonts"
@import "_settings"

media--desktop() {
  @media (min-width: 768px) {
    {block}
  }
}

ul
  list-style none

.home
  display flex
  flex-wrap wrap
  padding 30px
  +media--desktop()
    padding 30px 120px

.home__header,
.home__examples,
.home__workflows,
.home__features,
.home__faq,
.home__footer
  display flex
  flex-wrap wrap
  margin-bottom 30px
  width 100%
  > h2
    width 100%

/* Header. */
.home__header
  justify-content space-between

.home__header__logo
  display flex

.home__wordmark
  margin-right 10px

.home__nav
  display flex
  li
    margin-right 10px

/* Examples. */
.home__examples
  display flex

.home__examples__nav
  display flex
  padding 0 15px
  width 100%
  +media--desktop()
    flex-direction column
    width auto

.home__examples__scene-container
  display flex
  flex-grow 2
  flex-wrap wrap

.home__examples__scene
  border 1px solid black
  height 320px
  width 100%

/* Workflows. */
.home__workflows__container
  display flex
  flex-direction column
  flex-wrap wrap
  width 100%
  +media--desktop()
    flex-direction row

.home__workflows__container li
  align-items center
  border 1px solid black
  display flex
  height 100px
  justify-content center
  width 100%
  +media--desktop()
    width 25%

/* Features. */
.home__features__container
  display flex
  flex-wrap wrap
  flex-direction column
  width 100%
  +media--desktop()
    flex-direction row

.home__feature--active
  display flex
  height 320px
  width 100%
  img
    border 1px solid black
    margin-right 15px
    width unquote('calc(66% + 6px)')

.home__feature
  margin 2px
  height 240px
  +media--desktop()
    width 33%

.home__feature img
  border 1px solid black
  height 100%
  width 100%

/* Blog. */
.home__blog__container
  display flex
  flex-wrap wrap
  width 100%

.home__blog-post
  display flex
  justify-content space-between
  width 100%

.home__blog-post__details
  display flex
  flex-direction column
  flex-grow 2

.home__blog-post img
  border 1px solid black
  height 120px
  width 240px

/* FAQ. */
.home__faq__container
  display flex
  flex-direction column
  flex-wrap wrap
  width 100%
  +media--desktop()
    flex-direction row

.home__faq__question
  align-items center
  border 1px solid black
  display flex
  flex-wrap wrap
  justify-content center
  padding 15px
  width 100%
  +media--desktop()
    width 33.33%
  h3
    display flex
    justify-content center
    width 100%
