@import "_common"
@import "_fonts"
@import "_settings"

media--desktop() {
  @media (min-width: 768px) {
    {block}
  }
}

a
  color $copy-link
  cursor pointer
  &:visited
    color $copy-link

ul
  list-style none

.home
  display flex
  flex-wrap wrap

.home__header,
.home__examples,
.home__workflows,
.home__features,
.home__blog,
.home__faq
  display flex
  flex-wrap wrap
  width 100%
  > h2
    margin-top 30px
    padding $spacing-med
    width 100%

/* Header. */
.home__header
  justify-content space-between

.home__header__logo
  margin $spacing-med
  align-items center
  display flex

.home__wordmark
  margin-right 20px
  text-transform uppercase

.home__motto
  font-weight 300
  text-transform uppercase

.home__nav
  display flex
  margin 30px $spacing-med $spacing-med 0
  li:not(:last-child)
    margin-right 15px

/* Examples. */
.home__examples
  display flex

.home__examples__nav
  display flex
  width 100%
  a
    display block
    padding $spacing-med
    &:hover
      background #E8415A
      color #fff

.home__examples--active
  background #333
  color #fff

.home__examples__scene-container
  display flex
  flex 6
  flex-wrap wrap

.home__examples__scene
  background #333
  position relative
  height 480px
  width 100%
  &:before
    color #FFF
    content 'Loading\2026';
    font-size 36px
    font-style italic
    font-family monospace
    left 0
    right 0
    margin 20% auto
    position absolute
    text-align center
    text-transform uppercase
    z-index 0

// Remove when: https://github.com/aframevr/aframe/pull/1474
html
  position static !important
body
  overflow auto !important
a-scene
  display block
  height 100%
  position relative
  width 100%
  canvas
    height 100% !important
    position relative !important
    width 100% !important
  .a-enter-vr
    display inline-block
    position relative
  .a-enter-vr-modal
    margin-right 0
    margin-top 23px
    right 70px
    position absolute

.home__examples__details-container,
.home__examples__detail
  width 100%

.home__examples__detail
  display none
  &.home__examples__detail--active
    display flex

// CodeMirror.
.CodeMirror
  flex 2
  padding 15px

.home__examples__panel
  background #444
  display flex
  flex-direction column
  flex 1
  min-width 320px

.home__examples__components,
.home__examples__assets
  display flex
  flex-direction column
  padding $spacing-med
  h4
    font-weight 300
    margin-bottom 5px
    text-decoration underline
  li
    margin 2px 0
  a
    border 1px solid #FFF
    border-radius 2px
    display inline-block
    max-width 100%
    overflow hidden
    padding 5px 10px
    text-overflow ellipsis
    white-space nowrap
  h4,
  a
    color #FFF

/* Workflows. */
.home__workflows__container
  display flex
  flex-direction column
  flex-wrap wrap
  width 100%
  +media--desktop()
    flex-direction row

.home__workflows__container li
  align-items center
  border 1px solid black
  display flex
  height 100px
  justify-content center
  margin 2px
  width 100%
  +media--desktop()
    width 240px

/* Features. */
.home__features__container
  display flex
  flex-wrap wrap
  flex-direction column
  width 100%
  +media--desktop()
    flex-direction row

.home__features .awoa-project
  background-position center
  background-repeat no-repeat
  background-size cover
  border 1px solid black
  border 2px solid transparent
  display inline-block
  margin-right 15px
  &:hover
    border-color $copy-link-hover

.home__feature__active
  display flex
  height 320px
  width 100%
  .awoa-project
    flex 2
    margin-right 2px
    height 100%

.home__feature__details
  flex 1
  left 8px
  position relative

.home__feature
  margin 2px
  height 240px
  +media--desktop()
    flex 1
  .awoa-project
    height 100%
    width 100%

/* Blog. */
.home__blog__container
  display flex
  flex-wrap wrap
  width 100%

.home__blog-post
  display flex
  justify-content space-between
  margin-bottom 2px
  width 100%

.home__blog-post__details
  display flex
  flex-direction column
  flex-grow 2

.home__blog-post__image
  background-position center
  background-repeat no-repeat
  background-size cover
  border 1px solid black
  border 2px solid transparent
  display inline-block
  height 240px
  width 480px
  &:hover
    border-color $copy-link-hover

/* FAQ. */
.home__faq__container
  display flex
  flex-direction column
  height 240px
  width 100%
  +media--desktop()
    flex-direction row

.home__faq__item
  align-items center
  background #EEE
  display flex
  flex 1
  flex-direction column
  flex-wrap wrap
  justify-content space-between
  margin-bottom 2px
  padding 20px 15px
  +media--desktop()
    margin-bottom 0
    &:not(:last-child)
      margin-right 5px
  h3
    font-style italic

/* Footer. */
.home__footer
  background #333
  color #FFF
  display flex
  height 240px
  justify-content space-between
  padding 30px 80px 0
  width 100%

.home__footer__links
  display flex
  li
    margin-right 20px
    a
      color #FFF
      text-decoration underline

.home__footer__cc
  font-weight 200
  margin-top 15px
  +media--desktop()
    max-width 75%

.home__footer__mozilla
  align-self center
  background-image url(/images/mozilla.png)
  background-size contain
  background-repeat no-repeat
  display inline-block
  height 40px
  width 130px
