@import "_common"
@import "_fonts"
@import "_settings"

media--wide-mobile() {
  @media (min-width: 480px) {
    {block}
  }
}

media--desktop() {
  @media (min-width: 768px) {
    {block}
  }
}

a
  color $copy-link
  cursor pointer
  &:visited
    color $copy-link

ul
  list-style none

li
  transition background .2s

.home
  display flex
  flex-wrap wrap
  justify-content center

.home__header,
.home__examples,
.home__workflows,
.home__features,
.home__blog,
.home__faq
  display flex
  flex-wrap wrap
  width 100%
  > h2
    font-family $mono-font
    text-transform uppercase
    width 100%

.home__workflows,
.home__features,
.home__blog,
.home__faq
  padding $spacing-med
  +media--desktop()
    max-width 1024px
  > h2
    padding $spacing-med 0

/* Header. */
.home__header
  align-items center
  flex-wrap nowrap
  justify-content space-between
  +media--desktop()
    flex-wrap wrap

.home__header__logo
  align-items center
  display flex
  margin $spacing-med 0 $spacing-med $spacing-med
  +media--desktop()
    margin-right $spacing-med

.home__logo
  background-image url(/images/aframe-logo-alternate.jpg)
  background-size cover
  border-radius 50px
  height 32px
  width 32px
  +media--wide-mobile()
    display none

.home__wordmark
  display none
  font-size 24px
  text-transform uppercase
  +media--wide-mobile()
    display block
    font-size 30px

.home__motto
  display none
  font-weight 300
  margin-left 20px
  text-transform uppercase
  +media--desktop()
    display block

.home__nav
  align-items center
  display flex
  margin 5px 0
  +media--wide-mobile()
    margin $spacing-med 0
  +media--desktop()
    margin-right $spacing-med
  h3
    font-weight 400
  li:not(:last-child)
    margin-right 10px
    +media--wide-mobile()
      margin-right 20px

.home__nav__github
  height 32px
  width 32px
  img
    height 32px
    width 32px

.home__nav__twitter
  background #292F33
  border-radius 100px
  height 32px
  width 32px
  img
    height 28px
    left 4px
    position relative
    top 4px
    width 28px

.home__nav__download
  display none
  +media--desktop()
    display inline-block
  a
    background-color lighten($blue, 8%)
    border-bottom 2px solid darken($blue, 12%)
    border-radius 4px
    color #FFF
    display inline-block
    font-family $code-font
    min-width 180px
    padding 12px $spacing-med
    transition 0.15s ease
    &:hover
      background-color lighten($blue, 15%)
      transform translate(0, 1px)
      transition none
    &:active,
    &.click
      background-color darken($blue, 12%)
      transform translate(0, 2px)

/* Examples. */
.home__examples
  border-bottom 1px solid $border
  display flex
  +media--desktop()
    flex-wrap nowrap

.home__examples__nav
  display none
  flex-direction column
  overflow auto
  width 180px
  +media--desktop()
    display flex
  li
    display inline-block
  a
    display block
    padding $spacing-med
    &:hover
      background #E8415A
      color #FFF

.home__examples__nav__link--active a
  background #333
  font-size inherit
  color #FFF

.home__examples__scene-container
  display flex
  flex 5
  flex-wrap wrap
  width 100%
  +media--desktop()
    max-width unquote('calc(100% - 180px)')

.home__examples__scene
  background #333
  position relative
  height 480px
  width 100%
  &:before
    color #FFF
    content 'Loading\2026';
    font-size 36px
    font-style italic
    font-family monospace
    left 50%
    opacity 0.8
    position absolute
    text-transform uppercase
    top 50%
    transform translate(-50%, 0%)
    z-index 0

[data-is-mobile="true"][data-orientation="landscape"] a-scene
  canvas,
  .a-enter-vr
    position fixed !important

.home__examples__details-container
  width 100%
  +media--desktop()
    height 320px

.home__examples__detail
  display none
  flex-direction column-reverse
  flex-wrap wrap
  width 100%
  +media--desktop()
    flex-direction row
    flex-wrap nowrap
    height 100%
  &.home__examples__detail--active
    display flex

// CodeMirror.
div.CodeMirror
  height 240px
  padding 15px
  width 100%
  +media--desktop()
    flex 2
    height 100%
    max-width 66%
    width auto

// Wrap panel for overflow scrollbars without affecting the CodeMirror.
.home__examples__panel-wrapper
  height 100%
  overflow auto
  width 100%
  +media--desktop()
    flex 1

.home__examples__panel
  background #444
  display flex
  flex-direction column
  padding $spacing-med
  +media--desktop()
    min-height: 320px;
    min-width 320px
    width auto

.home__examples__title
  align-items center
  justify-content space-around
  display flex
  text-transform uppercase
  +media--desktop()
    display block
  h2
    color #FFF
    font-family $code-font-default
    font-weight 400
    overflow hidden
    padding 0 10px
    text-overflow ellipsis
    white-space nowrap
    +media--desktop()
      padding 0

.home__examples__prev,
.home__examples__next
  align-items center
  background #FFF
  border-radius 150px
  color #333
  display flex
  height 36px
  justify-content center
  font-size 24px
  font-weight 600
  width 36px
  +media--desktop()
    display none

.home__examples__description
  color #FFF
  padding-top $spacing-med

.home__examples__components,
.home__examples__assets
  display flex
  flex-direction column
  padding $spacing-med 0
  h4
    font-weight 300
    margin-bottom 5px
    text-decoration underline
  ul
    display flex
    flex-wrap wrap
    width 100%
  li
    margin 2px 10px 2px 0
  a
    border 1px solid #FFF
    border-radius 2px
    display inline-block
    max-width 300px
    overflow hidden
    padding 5px 10px
    text-overflow ellipsis
    white-space nowrap
  h4,
  a
    color #FFF

/* Workflows. */
.home__workflows__container
  display flex
  flex-direction column
  flex-wrap wrap
  width 100%
  +media--desktop()
    flex-direction row

.home__workflows__container li
  align-items center
  background #333
  display flex
  justify-content center
  margin 2px
  width 100%
  &:hover
    background lighten(#333, 20%)
  +media--desktop()
    flex 1
  a
    color #FFF
    font-size 24px
    padding 50px
    white-space nowrap

/* Features. */
.home__features__container
  display flex
  flex-wrap wrap
  width 100%
  +media--desktop()
    flex-direction row

.home__features .awoa-project
  background-position center
  background-repeat no-repeat
  background-size cover
  border 1px solid black
  border 2px solid transparent
  display inline-block
  margin-right 15px
  &:hover
    border-color $copy-link-hover

.home__feature__active
  display flex
  height 320px
  width 100%
  .awoa-project
    flex 2
    margin-right 2px
    height 100%

.home__feature__details
  flex 1
  left $spacing-med
  position relative
  h3
    font-weight 400
    padding-bottom $spacing-med
    text-transform uppercase

.home__feature__avatar
  padding-top $spacing-med

.home__feature
  flex 1
  margin 2px
  height 240px
  .awoa-project
    height 100%
    width 100%

/* Blog. */
.home__blog__container
  display flex
  flex-wrap wrap
  width 100%

.home__blog-post
  display flex
  justify-content space-between
  margin-bottom $spacing-med
  width 100%

.home__blog-post__details
  display flex
  flex-direction column
  flex-grow 2
  margin-right $spacing-med * 2

.home__blog-post__title
  font-family $mono-font
  font-weight 400
  text-transform uppercase

.home__blog-post__date
  color $light
  font-family $mono-font
  text-transform uppercase

.home__blog-post__description
  margin-top $spacing-med

.home__blog-post__image
  background-position center
  background-repeat no-repeat
  background-size cover
  border 1px solid black
  border 2px solid transparent
  display inline-block
  height 200px
  width 320px
  &:hover
    border-color $copy-link-hover

/* FAQ. */
.home__faq__container
  display flex
  flex-direction column
  width 100%
  +media--desktop()
    flex-direction row

.home__faq__item
  background #333
  display flex
  flex-direction column
  justify-content space-between
  margin-bottom 2px
  padding $spacing-med
  +media--desktop()
    flex 1
    margin-bottom 0
    padding 20px 15px
    &:not(:last-child)
      margin-right 5px
  h3
    color #FFF
    font-style italic
    font-weight 400
    text-transform uppercase
  p
    color #FFF
    font-weight 300
    padding $spacing-med 0
    +media--desktop()
      min-height 130px
  b
    font-weight 500
  a
    align-self flex-end
    border 1px solid $border
    color #FFF
    padding 5px 10px
    width fit-content

/* Footer. */
.home__footer
  background #333
  color #FFF
  display flex
  height 240px
  justify-content space-between
  padding 30px 80px 0
  width 100%

.home__footer__links
  display flex
  li
    margin-right 20px
    a
      color #FFF
      text-decoration underline

.home__footer__cc
  font-weight 200
  margin-top 15px
  +media--desktop()
    max-width 75%

.home__footer__mozilla
  align-self center
  background-image url(/images/mozilla.png)
  background-size contain
  background-repeat no-repeat
  display inline-block
  height 40px
  width 130px
