@import "_common"
@import "_fonts"
@import "_settings"

code,
pre,
.example__viewsource,
.sidebar .page-title,
.menu-item a {
  font-family: $code-font-default;
}
.font-loaded-mono code,
.font-loaded-mono pre,
.font-loaded-mono .example__viewsource,
.font-loaded-mono .sidebar .page-title,
.font-loaded-mono .menu-item a {
  font-family: $code-font;
}
.hidden {
  display !important;
}
em {
  color: #7f8c8d;
}

html[data-is-home="true"] {
  min-width: 1000px;
}
body {
  color: #fff;
}
a {
  border-bottom: 1px solid rgba(255,255,255,0.15);
  color: rgba(255,255,255,0.5);
  text-decoration: none;
}
a:hover {
  border-bottom-color: rgba(255,255,255,0.3);
  color: rgba(255,255,255,0.75);
}
a:active,
a.click {
  border-bottom-color: rgba(255,255,255,0.5);
  color: #fff;
}
ul {
  list-style-type: none;
}
.logo__wordmark {
  background: url("../images/aframe-name-white.svg") no-repeat;
}
.sidebar {
  background: #ef2d5e;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  width: 260px;
}
.sidebar::-webkit-scrollbar {
  width: 0 !important;
}
.sidebar .page-title {
  font-size: 15px;
  color: rgba(0,0,0,0.6);
  font-weight: 100;
  letter-spacing: 0.02em;
}
.example__iframe {
  height: 100vh;
  width: 100%;
  background-color: #ececec;
}
.examples-list {
  border-top: 1px dashed #fff;
  padding-top: 20px;
}
.main {
  background: #ef2d5e;
  display: flex;
  height: 100%;
}
.sidebar,
.content {
  position: relative;
}
.sidebar {
  max-width: 400px;
  overflow-x: hidden;
}
.sidebar__wrap {
  height: 100vh;
  position: relative;
  overflow-y: auto;
}
.content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.example__viewsource {
  background: rgba(0,0,0,0.35);
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
  position: absolute;
  text-transform: uppercase;
  top: 5px;
  right: 5px;
  z-index: 2;
}
.example__viewsource[href="#"] {
  display: none;
}
.example__viewsource:active,
.example__viewsource:hover {
  background-color: #ef2d5e;
}
.aframe-animation .example__viewsource {
  display: none;
}
[data-is-mobile="true"] .example__viewsource {
  display: none;
}
.page__title {
  line-height: 1.3;
  font-size: 36px;
  font-weight: 600;
}
.subnav-link {
  font-size: 16px;
  font-weight: 300;
  margin-left: -3px;
  padding: 2px 4px 2px 3px;
  display: block;
  transition: 0.05s color ease;
  color: #fff;
  width: 100%;
}
.subnav-link:hover {
  background-color: rgba(0,0,0,0.05);
  color: #fff;
}
.subnav-link:active,
.subnav-link.click {
  background-color: rgba(0,0,0,0.5);
}
.subnav-link.current,
.subnav-link.current:hover {
  font-weight: 500;
  color: #fff;
}
.example-nav {
  margin-top: 3rem;
}
.example-nav-link {
  border: 0;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  width: 50%;
}
.example-nav-link span {
  display: none;
}
.example-nav-next {
  text-align: right;
}
/*
// Use this version if adding to side bar
.credits
    border-top 1px dashed rgba(255,255,255,0.5)
    background url(../images/mozvr-mozilla.svg) 100% 50% no-repeat
    background-size 100% 100%
    height 60px
    padding-top 20px
    margin 40px 0 20px
*/
.credits {
  background: url("../images/mozvr-white.svg") 45% 60% no-repeat;
  background-size: 80% 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 90px;
  margin: 0px 20px 20px;
}
.credits:hover {
  background-color: rgba(0,0,0,0.1);
}
.examples-subnav {
  margin-top: 0.5rem;
}
.btn-index {
  color: #fff;
}
.content--index {
  flex-direction: row;
}
.content--index .aframe-animation {
  background-color: #24caff;
  position: relative;
  width: 65%;
}
.content--index .copy__wrap {
  width: 35%;
  min-width: 440px;
}
.content--index .slogan {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.05rem;
}
.content--index .intro {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
  width: 350px;
}
.content--index .disclaimer {
  color: rgba(255,255,255,0.5);
}
.menu {
  margin-bottom: 60px;
}
.menu-item {
  display: inline-block;
}
.menu-item a {
  text-transform: uppercase;
  color: rgba(0,0,0,0.75);
  margin-right: 20px;
  border: none;
}
.menu-item a:hover {
  color: #000;
  background-color: rgba(0,0,0,0.02);
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
.get-started {
  background-color: #fff;
  border: 3px solid #fff;
  color: #000;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin-top: 2rem;
  padding: 8px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.05s ease;
}
.get-started:hover {
  background-color: #fff;
  color: #ef2d5e;
}
.get-started:active {
  opacity: 0.8;
}
.mobile-get-started {
  display: none;
}
@media screen and (max-width: 399px) {
  #logo {
    max-width: 40vw;
  }
}
@media screen and (min-width: 480px) {
  .example__viewsource {
    top: 20px;
    right: 20px;
  }
}
@media screen and (min-width: 800px) {
  .example__viewsource {
    top: 30px;
    right: 30px;
  }
}
@media only screen and (max-device-width: 736px) and (orientation: landscape) {
  .sidebar {
    display: none;
  }
}

// Hide items based on compatibility.
// Example: "360 Video" example on mobile until autoplay/inline video UX issues handled properly.
// See https://github.com/aframevr/aframe/issues/316
[data-is-android="true"] [data-supports-android="false"],
[data-is-ios="true"] [data-supports-ios="false"] {
  display: none !important;
}
