@import "_common"
@import "_blog"

$header-height = 40px

ul
    line-height 1.5
    list-style-type none
    margin 0
    padding 0

.nav
    border-bottom 1px dashed rgba(0,0,0,0.1)
    margin-bottom 20px
    padding 10px 0 20px

.nav-item
    font-family $code-font
    text-transform uppercase

.nav-item + .nav-item
    margin-top 3px

.subnav-item + .subnav-item
    margin-top 5px

.nav-link, .subnav-link
    display inline-block
    color rgba(0,0,0,0.35)
    text-indent: -10px
    padding-left 10px
    transition 0.1s color ease-in
    width 100%
    &:hover
        color rgba(0,0,0,0.75)
    &:active
        color rgba(0,0,0,0.85)
    &.current,
    &.active,
    &.current:hover,
    &.active:hover
        color #333
        font-weight 500

.logo__wordmark
    color $pink
    display inline-block
    font-size 64px
    font-weight 200
    text-transform uppercase

.sidebar
    -webkit-overflow-scrolling touch
    -ms-overflow-style none
    &::-webkit-scrollbar
        width: 0 !important
    h2
        margin-top .2em

body:not([data-sidebar-layout=flat]) .menu__generic ul
    padding 0 20px

.copy__wrap
    max-width 700px
    margin 40px

.copy
    a
        border-bottom 1px solid rgba(53,196,232,0.25)
        color hsl(192, 80%, 40%);
        &:hover
            border-bottom-color rgba(53,196,232,0.75)
            color hsl(192, 80%, 56%);
    a.button
        font-size .9em
        color #fff
        margin .2em 0
        width 180px
        text-align center
        padding 12px 24px
        display inline-block
        vertical-align middle
    img
        max-width 100%
    span.light
        color $light
    span.info
        font-size .85em
        display inline-block
        vertical-align middle
        width 280px
        margin-left 20px
    h1
        margin 0
    h2
        margin 2em 0 .8em
        padding-bottom .7em
        border-bottom 1px solid $border
    h3
        margin 2em 0 1.2em
        position relative
    figure, p, ul, ol
        margin 15px 0
    p, ul, ol
        line-height 1.6em
    ul, ol
        padding-left 1.5em
    blockquote
        margin 2em 0
        padding-left 20px
        border-left 4px solid $green
        p
            font-weight 600
            margin-left 0
    iframe
        margin 1em 0
    p.tip
        padding 12px 24px 12px 30px
        margin 2em 0
        border-left 4px solid $red
        background-color $codebg
        position relative
        border-bottom-right-radius $radius
        border-top-right-radius $radius
        &:before
            position absolute
            top 14px
            left -12px
            background-color $red
            color #fff
            content "!"
            width 20px
            height 20px
            border-radius 100%
            text-align center
            line-height 20px
            font-weight bold
            font-size 14px
    ul
        list-style disc
        margin-left 1em
        padding-left 1em
    ol
        list-style decimal
        margin-left 1em
        padding-left 1em
    ol ol
        list-style circle

.float-right
     float right

.slogan
    color $white
    font-size 5em
    font-weight 100
    line-height 0.9
    position absolute
    text-transform uppercase
    top 40px
    left 30px
    z-index 2
    width 450px

.example__iframe
    height 100vh
    width 100%

.main
    display flex
    height 100%

.sidebar, .content
    overflow-y auto
    position relative

.sidebar
    max-width 400px
    padding 30px

.content
    flex 1

@media screen and (max-width: 800px)
    .main
        flex-direction column

.section-title, .section-title a
    color rgba(0,0,0,0.5)

.section-title a
    display block
    &:hover
        color rgba(0,0,0,0.75)

.section-title
    line-height 1.2
    font 11px $mono-font
    margin 20px 0 5px
    text-transform uppercase

.examples-subnav + .section-title:before
    border-top 1px solid rgba(255,255,255,0.25)
    content ""
    display block
    height 20px
    width 25px

.content
    display flex
    flex-direction column

.content--header
    background rgba(180,255,255,0.5)
    order 2
    height 140px
    padding 30px
    width 100%

.content--header--index
    background rgb(100,50,60)
    color #ccc

.content--body
    flex 1 140px
    order 1
    position relative

.example__viewsource
    background rgba(0,0,0,0.35)
    color #fff
    display block
    font 12px/1.5 $mono-font
    padding 5px 10px
    position absolute
    text-transform uppercase
    top 20px
    right 20px
    z-index 2
    &:active,
    &:hover
        background-color #ef2d5e

.page__title
    font 600 36px/1.3 $body-font

.intro__copy
    display flex
    line-height 1.5
    margin 0
    .intro__blurb
        padding 0 30px
        a
            border-bottom 1px solid rgba(0,0,0,0.25)
            color $pink
            &:hover
                border-bottom-color rgba(255,255,255,0.25)
                color lighten($pink, 40%)

.intro__videothumb__img
    display block
    max-height 80px

.intro__videothumb__link
    border 2px solid rgba(255,255,255,0.25)
    display block
    &:active, &:hover
        border-color rgba(255,255,255,0.75)

[data-sidebar-layout="flat"] .menu-root > li > a
    display none

.copy .footer
    border-top 2px solid #eee
    clear both
    color #999
    font-size 12px
    margin-top 40px

.guide-links
    padding 10px 0

.guide-links + .footer
    margin-top 25px

.copy__wrap > table
    border-collapse collapse
    width 100%

    th, td
        padding 8px 4px

    th
        background #2ac
        font-size 10px
        font-weight normal

    th
        color #fff
        text-align left

    td
        background #fff
        border-bottom 1px solid #eee
        font-size 12px

.section-inactive
    + .docs-subnav
        display none

[data-is-home="true"]
    .logo__wordmark
        color #fff

    .example__iframe
        height calc(100vh - 140px)

    .sidebar
        background $pink

    .nav-link, .subnav-link
        color rgba(0,0,0,0.35)
        &.current,
        &.active,
        &.current:hover,
        &.active:hover
            color #fff

    // .section-title, .section-title a
    //     color rgba(0,0,0,0.5)

    .section-title
        display none
