@import "_settings"

.algolia-autocomplete
    font-family $body-font
    font-size 12px
    width 100%
    z-index 20

.search-field
    -moz-appearance none
    -webkit-appearance none
    border 1px solid #DADADA
    border-radius 10px
    box-shadow 0
    display flex
    font-size 15px
    height 30px
    outline-color $color-primary
    padding 0 5px 0 10px
    width 100%
    +media--desktop()
        width 195px

.docs-search-wrapper
    +media--desktop()
        margin-right 16px

[data-is-ios="true"] .search-field
    padding-bottom 7px

/* Main category headers */
.algolia-docsearch-suggestion--category-header {
  background-color #EF2D5E
  border 0
  color: #FAFAFA !important;
  font-weight 300
  padding: 3px 5px !important;
}
/* Highlighted search terms */
.algolia-docsearch-suggestion--highlight {
  color: #24CAFF;
}
/* Highligted search terms in the main category headers */
.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight  {
  background-color: #4D47D5;
}
/* Currently selected suggestion */
.aa-cursor .algolia-docsearch-suggestion--content {
  color: $dark
}
.aa-cursor .algolia-docsearch-suggestion {
  background: #EBEBFB;
}

@media (max-width: 768px)
    .algolia-autocomplete .algolia-docsearch-suggestion--content,
    .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column
        float none
        width 100%

    .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column
        text-align: left

    .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before
        right auto
        left -1px

    .algolia-autocomplete .ds-dropdown-menu
        margin-left -32px
        margin-right -32px
        min-width 100%

    .docs-search-docs
        display none
