@import "_common"
@import "_docs"

a
    border-bottom 1px solid rgba(53,196,232,0.25)
    color hsl(192, 80%, 40%)
    text-decoration none
    &:hover
        border-bottom-color rgba(53,196,232,0.75)
        color hsl(192, 80%, 56%)

.header
    border-bottom 1px dashed rgba(0,0,0,0.1)
    margin-bottom 20px
    padding-bottom 20px

.nav-link
    color rgba(0,0,0,0.35)
    display block
    padding 5px 0
    transition 0.1s color ease-in
    &:hover
        color rgba(0,0,0,0.75)
    &:active
        color rgba(0,0,0,0.85)
    &.current,
    &.active,
    &.current:hover,
    &.active:hover
        color $pink
        font-weight 500

.nav-item
    font-family $code-font
    text-transform uppercase
    &:first-child .nav-link
        padding-top 0
    &:last-child .nav-link
        padding-bottom 0

.subnav-link
    display block
    color rgba(0,0,0,0.35)
    text-indent -10px
    padding-left 10px
    transition 0.1s color ease-in
    width 100%
    &:hover
        color rgba(0,0,0,0.75)
    &:active
        color rgba(0,0,0,0.85)
    &.current,
    &.active,
    &.current:hover,
    &.active:hover
        color #333
        font-weight 500

.float-right
     float right

.example__iframe
    height 100vh
    width 100%

.main
    display flex

.sidebar
    max-width 400px
    padding 30px

.content
    flex 1

@media screen and (max-width: 800px)
    .main
        flex-direction column

.content
    display flex
    flex-direction column

.page__title
    font 600 36px/1.3 $body-font

.footnote
    border-top 2px solid #eee
    clear both
    color #999
    font-size 12px
    margin-top 30px

.guide-links
    margin-top 30px

// We have to target it like this so it doesn't interfere with the code snippets
.copy__wrap > table
    border-collapse collapse
    width 100%

    th, td
        padding 8px 4px

    th
        background #2ac
        font-size 10px
        font-weight normal

    th
        color #fff
        text-align left

    td
        background #fff
        border-bottom 1px solid #eee
        font-size 12px

// The sub-heading above the docs title
.content--docs .page__section
    font 600 11px $mono-font
    line-height 1.2
    margin 0 0 5px
    text-transform uppercase
    a
        display block

.section-title
    line-height 1.2
    font 11px $mono-font
    padding 5px 0 10px
    text-transform uppercase

.section-title-active
    font-weight 600

.section-title-link
    display block
    margin -5px 0 -10px
    padding 5px 0 10px

.section-subnav
    margin-bottom 10px

// To prevent the active sections from loading.
prevent_clicks_on_active_links = true

if prevent_clicks_on_active_links
    .section-title-active
        cursor pointer

    .section-title-link-active
        cursor pointer
        pointer-events none

numbered_debug = false

// Useful for changing `order` of docs.
if numbered_debug
    .subnav
        color red
        list-style-type decimal

numbered_subnav = false
numbered_subnav_leading_zeroes = false

if numbered_subnav
    .numbered-subnav
        if numbered_subnav_leading_zeroes
            list-style-type decimal-leading-zero
        else
            list-style-type decimal

        .subnav-item
            color #ccc
            font-size 8px
            font-family $mono-font
            &.subnav-item-current
                color #aaa
                font-weight 600

        .subnav-link
            font-family $body-font
            font-size 1rem

// Hide sections and make section titles toggle them.
enable_toggles = false

if enable_toggles
    .section-title
        position relative
        &:before
            background url(../images/caret.svg) -3px 6px no-repeat
            background-size 10px auto
            content ""
            height 100%
            left 0
            pointer-events none
            position absolute
            top 0
            width 10px

    .section-title-active:before
        transform rotate(90deg)
        left -6px

    .section-title-inactive + .section-subnav
        display none

    .section-title-link
        padding-left 20px

    .subnav-item
        margin-left 20px
        margin-right -20px

    .subnav-link
        margin-left -25px
        padding-left 35px

else
    .section-title
        margin-top 15px

    if numbered_subnav
        .numbered-subnav
            list-style decimal-leading-zero inside

.subnav-item + .subnav-item
    margin-top 0.25rem
