@import "_common"

a
    border-bottom 1px solid rgba(53,196,232,0.25)
    color hsl(192, 80%, 40%)
    text-decoration none
    &:hover
        border-bottom-color rgba(53,196,232,0.75)
        color hsl(192, 80%, 56%)

.header
    border-bottom 1px dashed rgba(0,0,0,0.1)
    margin-bottom 20px
    padding-bottom 20px

.nav-link
    color rgba(0,0,0,0.35)
    display block
    padding 5px 0
    transition 0.1s color ease-in
    &:hover
        color rgba(0,0,0,0.75)
    &:active
        color rgba(0,0,0,0.85)
    &.current,
    &.active,
    &.current:hover,
    &.active:hover
        color $pink
        font-weight 600

.nav-item
    font-family $code-font
    text-transform uppercase
    &:first-child .nav-link
        padding-top 0
    &:last-child .nav-link
        padding-bottom 0

.subnav-link
    display block
    color rgba(0,0,0,0.35)
    text-indent -10px
    padding-left 10px
    transition 0.1s color ease-in
    width 100%
    &:hover
        color rgba(0,0,0,0.75)
    &:active
        color rgba(0,0,0,0.85)
    &.current,
    &.active,
    &.current:hover,
    &.active:hover
        color #333
        font-weight 500

.float-left
    float left

.float-right
    float right

.example__iframe
    height 100vh
    width 100%

.main
    display flex

.sidebar
    padding 40px
    width 260px

.content
    flex 1

.content
    display flex
    flex-direction column

.page__title
    font 600 36px/1.3 $body-font

.copy .footnote
    border-top 2px solid #eee
    clear both
    color #999
    font-size 0.8rem
    margin-top 30px

    // p
    //     line-height 2

    br
        display none

    .github-file-link
        margin-left 0.5rem

.guide-links
    margin-top 30px

// We have to target it like this so it doesn't interfere with the code snippets
.copy__wrap > table
    border-collapse collapse
    width 100%

    th, td
        padding 8px 4px

    th
        background #2ac
        font-size 10px
        font-weight normal

    th
        color #fff
        text-align left

    td
        background #fff
        border-bottom 1px solid #eee
        font-size 12px

// The sub-heading above the docs title
.content--docs .page__section
    font 600 11px $mono-font
    line-height 1.2
    margin 0 0 5px
    text-transform uppercase
    a
        display block

.section-title
    line-height 1.2
    font 11px $mono-font
    padding 5px 0 10px
    text-transform uppercase

.section-title-active
    font-weight 600

.section-title-link
    display block
    margin -5px 0 -10px
    padding 5px 0 10px

.section-subnav
    margin-bottom 10px

// To prevent the active sections from loading.
prevent_clicks_on_active_links = true

if prevent_clicks_on_active_links
    .section-title-active
        cursor pointer

    .section-title-link-active
        cursor pointer
        pointer-events none

numbered_debug = false

// Useful for changing `order` of docs.
if numbered_debug
    .subnav
        color red
        list-style-type decimal

numbered_subnav = false
numbered_subnav_leading_zeroes = false

if numbered_subnav
    .numbered-subnav
        if numbered_subnav_leading_zeroes
            list-style-type decimal-leading-zero
        else
            list-style-type decimal

        .subnav-item
            color #ccc
            font-size 8px
            font-family $mono-font
            &.subnav-item-current
                color #aaa
                font-weight 600

        .subnav-link
            font-family $body-font
            font-size 1rem

// Hide sections and make section titles toggle them.
enable_toggles = false

if enable_toggles
    .section-title
        position relative
        &:before
            background url(../images/caret.svg) -3px 6px no-repeat
            background-size 10px auto
            content ""
            height 100%
            left 0
            pointer-events none
            position absolute
            top 0
            width 10px

    .section-title-active:before
        transform rotate(90deg)
        left -6px

    .section-title-inactive + .section-subnav
        display none

    .section-title-link
        padding-left 20px

    .subnav-item
        margin-left 20px
        margin-right -20px

    .subnav-link
        margin-left -25px
        padding-left 35px

else
    .section-title
        margin-top 15px

    if numbered_subnav
        .numbered-subnav
            list-style decimal-leading-zero inside

.subnav-item + .subnav-item
    margin-top 0.25rem

.highlight
    overflow-x auto
    position relative
    padding 0
    background-color $codebg
    padding .8em .8em .4em
    line-height 1.1em
    border-radius $radius
    table, tr, td
        width 100%
        border-collapse collapse
        padding 0
        margin 0
    .gutter
        width 1.5em
    .code
        pre
            padding 1.2em 1.4em
            line-height 1.5em
            margin 0
    &.html, &.js, &.bash, &.css
        .code:after
            position absolute
            top 0
            right 0
            color #ccc
            text-align right
            font-size .75em
            padding 5px 10px 0
            line-height 15px
            height 15px
            font-weight 600
    &.html .code:after
        content 'HTML'
    &.js .code:after
        content 'JS'
    &.bash .code:after
        content 'Shell'
    &.css .code:after
        content 'CSS'

p [href*=github][href*="/blob/"]:only-child,
.github-file-link
    background $codebg
    border 1px solid $border
    border-radius $radius
    transition .2s ease-in
    color #666
    display inline-block
    padding 0.25rem 1rem
    &:after
        background url(../images/github-icon.svg) no-repeat
        content ''
        display inline-block
        margin-left 0.5em
        opacity .5
        height 14px
        transition .2s opacity ease-in
        vertical-align middle
        width 12px
    &:hover
        border-color $border-dark
        color #333
        &:after
            opacity 1

.copy
    a.btn  // See `_common` for base styles.
        background-color lighten($blue, 8%)
        border-bottom 2px solid darken($blue, 12%)
        border-radius 4px
        color #fff
        display inline-block
        font-family $code-font
        font-weight 600
        margin 5px 0
        padding 12px 24px
        transition all .15s ease
        &.btn-download
            padding 12px 14px
            min-width 220px
        &:hover
            background-color lighten($blue, 15%)
            transform translate(0, 1px)
            transition none
        &:active
            background-color darken($blue, 12%)
            transform translate(0, 2px)
        span
            font-size 0.8rem
            font-weight 300
    p br ~ a.button
        margin-top 10px

.install-note
    color #999
    font normal 0.8rem $mono-font
    margin-left 10px

.content--docs
    h2[id],
    h3[id],
    h4[id],
    h5[id],
    h6[id]
        cursor pointer
        margin-left -1.5rem
        position relative
        text-indent 1.5rem
        &:before
            border-bottom 1px solid #fff
            color #ccc
            content ""
            height 100%
            left 0
            position absolute
            text-indent 0
            width 1.5rem
        &:target,
        &:hover
            &:before
                content "#"
        &:hover
            &:before
                color #aaa

@media screen and (max-width: 800px)
    .main
        flex-direction column
        min-width 100%

    .copy .footnote
        br
            display inline-block

        .github-file-link
            margin-left 0
