# Hexo Configuration
## Docs: https://hexo.io/docs/deployment.html
## Source: https://github.com/hexojs/hexo

# Site
robots: none

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: http://localhost:4000
root: /
force_https: false

aframe_lib:
  home_url: http://localhost:9000
  examples_url: http://localhost:9000/examples
  prod_home_url: https://aframe.io
  prod_examples_url: https://aframe.io/aframe/examples

css_minifier:
  enable: false

html_minifier:
  enable: false

# Disabled because `exclude` option doesn't work.
js_minifier:
  enable: false

# Disabled because mozjpeg errors on OS X.
image_minifier:
  enable: false
