<div class="post__projects">
  <% projects.forEach(function (project) { %>
    <% if (project.image) { %>
      <% partial('partials/awoa_project', {project: project}) %>
    <% } %>
  <% }) %>
</div>
