<% if (projects) { %>
  <div class="post__projects">
    <% projects.forEach(function (project) { %>
      <% if (project.image) { %>
        <a href="<%- project.url %>" title="<%- project.title %>"
           style="background-image: url(<%= url_for('images/awoa/' + project.image) %>)"></a>
      <% } %>
    <% }) %>
  </div>
<% } %>
