<% if (media) { %>
  <h3>Media</h3>
  <ul class="post__projects-text">
    <% media.forEach(function (media) { %>
      <li>
        <%- blog_attribution(media.author) %>
        <%- markdown(media.action) %>
        <a href="<%- media.url %>"><%- markdown(media.title) %></a>
      </li>
    <% }) %>
  </ul>
<% } %>
