<%- partial('partials/sidebar_examples', {site: site}) %>

<div class="content content--examples">
  <h1 class="hidden-visually"><%- page.title %></h1>
  <%- partial('partials/example/iframe', {item: page}) %>
</div>
