<%- partial('partials/sidebar_examples', {site: site}) %>

<div class="content content--examples">
  <div class="content--body">
    <%- partial('partials/example/iframe', {item: page}) %>
  </div>
</div>
