<%- partial('partials/examples/sidebar', {site: site, page: page}) %>

<div class="content content--examples">
  <div class="content--body">
    <%- partial('partials/examples/iframe', {item: page}) %>
  </div>
</div>
