<%- partial('partials/examples/sidebar', {site: site, page: page}) %>

<div class="content content--examples">
  <div class="content--body">
    <!-- Example. -->
    <iframe id="exampleIframe" class="example__iframe"
            width="100%"
            height="100%"
            allowfullscreen="yes" scrolling="no"
            allowvr="yes" src="<%- page.scene_url %>"></iframe>

    <!-- Actions. -->
    <div class="example__controls">
      <% if (!page.disable_inspector) { %>
        <a id="exampleInspector" class="btn" rel="nofollow"
           title="Or open with `<ctrl> + <alt> + i`.">Visual Inspector</a>
      <% } %>
      <% if (page.source_url) { %>
        <a id="exampleViewSource" class="btn" href="<%- page.source_url %>" target="_blank"
           title="View the HTML on GitHub">View Source</a>
      <% } %>
    </div>
  </div>
</div>
