<%- partial('partials/sidebar_examples', {site: site}) %>

<div class="content content--index">
  <h1 class="slogan"><%- config.description %></h1>
  <%- partial('partials/example/iframe', {item: page}) %>
</div>
