<%- partial('partials/examples/sidebar', {site: site}) %>

<div class="content content--index copy">
  <div class="copy__wrap">
    <h1 class="slogan"><%- page.title %></h1>
    <%- page.content %>
  </div>
</div>
