<%- partial('partials/sidebar_examples', {site: site}) %>

<div class="content content--index">
  <header class="content--header content--header--index">
    <h1 class="slogan"><%- config.description %></h1>
  </header>
  <div class="content--body">
    <%- partial('partials/example/iframe', {item: page}) %>
  </div>
</div>
