<iframe id="exampleIframe" class="example__iframe"
        width="100%"
        height="100%"
        allowfullscreen="yes" scrolling="no"></iframe>
  <a href="#" class="btn example__viewsource" id="exampleViewsource" target="_blank">View Source</a>
