<aside class="sidebar">
  <div class="sidebar__wrap">
    <div class="sidebar__wrap__inner">

      <header id="header" class="header">
        <a id="logo" class="logo borderless-links" href="/">
          <span class="logo__wordmark">A-Frame</span>
        </a>
      </header>

      <a href="/docs/" class="mobile-get-started nav-link get-started">
        Get Started
      </a>

      <div class="list examples-list">
        <h2 class="page-title">Examples</h2>

        <ul id="examplesSubnav" class="subnav examples-subnav borderless-links">
        </ul>

        <nav class="example-nav c">
          <a id="examplePrev" class="example-nav-link example-nav-prev" href="">← <span>Previous</span></a>
          <a id="exampleNext" class="example-nav-link example-nav-next float-right" href=""><span>Next</span> →</a>
        </nav>
      </div>

    </div>
  </div>
</aside>
