<header id="header" class="header">
  <a id="logo" class="logo borderless-links" href="<%- url_for(config.root) %>">
    <span class="logo__wordmark"><%- config.title %></span>
  </a>
  <ul id="nav" class="nav">
    <li class="nav-item nav-item-get-started"><a href="<%- url_for('docs/') %>" class="nav-link nav-link-get-started<%- page.canonical_path.match(/docs/) ? ' current' : '' %>"><span>Get Started</span></a></li>
  </ul>
</header>
