<div class="nav-list" id="cdn-link-section">
    <p class="section-title docs-section-title">Link to CDN</p>
    <ul class="subnav">
        <li class="subnav-item">
            <label class="cdn-link" id="cdn-link-label" for="cdn-link">
                <input class="cdn-link__input" type="text" id="cdn-link" value="<%= config.aframe_lib.home_url %>/releases/0.7.0/aframe.min.js" readonly>
            </label>
        </li>
    </ul>
</div>
