<% var fieldLocation = locals.location %>
<div class="docs-search-wrapper docs-search-<%= fieldLocation %>" data-search-version="<%- docs_active_version(page) || config.aframe_version %>">
  <input type="search" class="search-field" placeholder="Search..." autocomplete="off" spellcheck="false">
  <div class="search-results-dropdown"></div>
</div>
