<% var activeSection = '' %>
<% var activeVersion = docs_active_version(page) %>
<% var fieldLocation = locals.location %>
<div class="docs-search-wrapper docs-search-<%= fieldLocation %>">
  <input type="search" class="search-field" placeholder="Search..."></input>
</div>
