<header id="header" class="header">
  <a id="logo" class="logo" href="<%- url_for('/') %>">
    <span class="logo__wordmark"><%- config.title %></span>
  </a>
  <ul id="nav" class="nav">
    <%- partial('main_menu') %>
  </ul>
</header>
