<% var toc = table_of_contents(page.content); %>

<div id="table-of-contents" class="nav-list">
  <p class="section-title docs-section-title">Table of Contents</p>

  <ul class="subnav">
    <% toc.forEach(function (item) { %>
      <li class="subnav-item">
        <a class="subnav-link" href="<%- item.href %>"><%= item.title %></a>

        <!-- Nested. -->
        <% if (item.children) { %>
          <ul>
            <% item.children.forEach(function (innerItem) { %>
              <li class="subnav-item">
                <a class="subnav-link" href="<%- innerItem.href %>"><%= innerItem.title %></a>
              </li>
            <% }); %>
          </ul>
        <% } %>
      </li>
    <% }); %>
  </ul>
</div>
