<aside class="sidebar sidebar-mobile borderless-links c">
  <header id="header" class="header">
    <a href="#secondary-nav" class="mobile-nav-btn">Menu</a>
    <a id="logo" class="logo" href="<%- url_for(config.root) %>">
      <span class="logo__wordmark"><%- config.title %></span>
    </a>
  </header>
</aside>
